# Dependencies
node_modules/
.pnpm-store/
.npm/

# Build outputs
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Test coverage
coverage/

# Typescript
*.tsbuildinfo
.tscache/

# Obsidian
.obsidian/



.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*